{% extends 'base.html' %}

{% block content %}
    <div class="self-contained container" style="...">
        <div class="align-self-center">
            <p>
                We 've emailed you instructions for setting your password,if an accountexists with the email you entered. You should receive them shortly.
            </p>
            <p>
                If you don't receive an email，please make sure you've entered the addressyou registered with and check your spam folder.
            </p>
        </div>
    </div>
{% endblock content %}